{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/general' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">

	<div id="settings-cp">

		{% namespace 'settings' %}
			{{ forms.field({
				label: "General settings"|t('enupal-backup')|upper
			}, null) }}
			<hr>

			{{ forms.textField({
				label: "Amount of backups to keep locally"|t('enupal-backup'),
				id: 'backupsAmount',
				name: 'backupsAmount',
				value: settings.backupsAmount,
				size: 10,
				autofocus: true,
				first: true,
				errors: ''
			}) }}

		{% endnamespace %}

	</div>

{% endset %}