{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/general' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">

	<div id="settings-cp">

		{% namespace 'settings' %}
			<div class="field heading">{{'Include in files backup:'|t('enupal-backup')}}</div>

			{{ forms.lightswitchField({
				label: "Plugins"|t('enupal-backup'),
				id: 'enablePlugins',
				name: 'enablePlugins',
				on: settings.enablePlugins,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup')
			}) }}

			{{ forms.lightswitchField({
				label: "Templates"|t('enupal-backup'),
				id: 'enableTemplates',
				name: 'enableTemplates',
				on: settings.enableTemplates,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup')
			}) }}


		{% endnamespace %}

	</div>

{% endset %}