/*Enupal Backup css*/
.btn-full
{
	width: 100%;
}

div.deletebackup {
	border-top: 1px solid #e3e5e8;
}

.enupal-field-heading {
  color: #333F4D;
  font-size: .8em;
  min-height: auto;
  text-transform: uppercase;
  text-align: left;
  background-color: #ebedef
}

#backup-content {
    background-color: #fff;
    background-image:         linear-gradient(top, #fff, #ddd);
    border-radius: 0 2px 2px 2px;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 10px;
}
