{% extends "enupal-backup/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% css %}
	.enupal-field-heading {
		background-color: rgb(244, 245, 246);
		color: rgb(85, 85, 85);
		font-size: .8em;
		min-height: auto;
		padding: 8px auto;
		text-transform: uppercase;
	}
{% endcss %}
{% set crumbs = [
	{ label: "Sliders"|t, url: cpUrl('enupal-backup/backups') }
] %}

{% set title = sliderId ? 'Edit Slider' : 'New Slider' %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block saveButton %}
	{{ redirectInput('enupal-backup/backups') }}

	<div class="btngroup submit first">
		<input type="submit" class="btn submit" value="{{ '<-Back'|t('enupal-backup') }}">
	</div>
{% endblock %}

{% block main %}

	{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

	<div class="grid first" data-max-cols="3">
		<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
			<div id="fields" class="pane">
				{% set oneline = "{{ craft.enupalslider.displaySlider('"~slider.handle~"') }}"%}

				{{ forms.field({
					label: 'Slides'|t('enupal-slider'),
					instructions: 'Slides that represents your content that will display in the slider. Double click if you want add HTML instead.'|t('enupal-slider'),
					id: 'slides'
					}, forms.elementSelect({
					elements: slidesElements,
					elementType: elementType,
					sources: sources,
					id: 'slides',
					name: 'slides',
					jsClass: 'Craft.AssetSelectInput',
					selectionLabel: 'Add Slides'|t('enupal-slider'),
					limit: null,
					viewMode: 'large',
					criteria: {kind: ['image'], siteId : null}
				})) }}
				{#limit: 1,
					criteria: {"localeEnabled":null}
				#}
			</div>
		</div>
		<div class="item" data-position="right" data-colspan="1">
			<div class="pane meta">
			{% include 'enupalslider/sliders/_sidebar/settings' %}


			</div>
		</div>
	</div>

	{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\BackupAsset") %}

	{% js %}
	$(document).ready(function() {
		new EnupalBackup();
	});
{% endjs %}

{% endblock %}

