{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/elementindex" %}
{% set title = "Backups"|t %}
{% set elementType = 'enupal\\backup\\elements\\Backup' %}
{% do view.registerAssetBundle("enupal\\backup\\web\\assets\\FontAwesomeAsset") %}
{% block actionButton %}
    <div class="buttons">
        <form id="run-backup" method="post">
            {{ csrfInput() }}
            {{ redirectInput('enupal-backup/backups') }}
            <input type="hidden" name="action"
                   value="enupal-backup/backups/run">
            <button class="btn submit add icon">{{ "Backup Now"|t('enupal-backup') }}</button>
        </form>
    </div>

    <form id="download-all-form" class="utility" method="post"
          accept-charset="UTF-8">

    </form>
{% endblock %}

{% js %}
$(document).ready(function(){
    setTimeout(function(){
        Craft.elementIndex.updateElements();
    },8000);
});
{% endjs %}