{% extends "enupal-backup/_layouts/elementindex" %}
{% set title = "Backups"|t %}
{% set elementType = 'enupal\\backup\\elements\\Backup' %}
{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\FontAwesomeAsset") %}
{% set extraPageHeaderHtml %}
	<div class="buttons">
		<form method="post">
			{{ csrfInput() }}
			{{ redirectInput('enupal-backup/backups') }}
			<input type="hidden" name="action" value="/enupal-backup/backups/run">
			<button class="btn submit add icon">{{ "Backup Now"|t('enupal-backup') }}</button>
		</form>
	</div>
{% endset %}