{% extends "enupal-backup/_layouts/elementindex" %}
{% set title = "Backups"|t %}
{% set elementType = 'enupal\\backup\\elements\\Backup' %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('enupal-backup/backup/now') }}">{{ "Backup Now"|t('enupalbackup') }}</a>
		<a class="btn submit add icon" href="{{ url('enupal-backup/backup/restore') }}">{{ "Restore"|t('enupalbackup') }}</a>
	</div>
{% endset %}